body{
  background-color: aquamarine;
}

.login-form{
  border: 1px solid #ccc;
  padding: 8px;
  margin: auto;
  border-radius: 6px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 300px;
}

h1,h2{
  text-align: center;
}

input,button,select{
  margin: 5px;
  border-radius: 6px;
  padding: 8px;
  border: 1px solid #ccc;
}
.container{
  display: grid;
  width: 80%;
}
button{
  border: none;
  background-color: rgb(87, 87, 199);
  color: white;
  font-weight: bold;
}

.sidebar{
  width: 20%;
  border: 1px solid #ccc;
  padding: 8px;
  background-color: white;
  border-radius: 6px;
  margin: 5px;
}
ul{
  list-style: none;
  background-color: white;
}